/* Variables */
:root {
	/* colors */
	--color-brown-800: rgb(133 70 50);
	--color-rose-50: rgb(255 247 251);
	--color-rose-800: rgb(122 40 78);
	--color-stone-100: rgb(243 229 215);
	--color-stone-150: rgb(227 221 215);
	--color-stone-600: rgb(95 86 77);
	--color-stone-900: rgb(49 46 44);
	--color-white: rgb(255 255 255);
	/* fonts */
	--font-size-desktop-text-preset-4: 1rem;
	--font-size-desktop-text-preset-3: 1.25rem;
	--font-size-desktop-text-preset-2: 1.75rem;
	--font-size-desktop-text-preset-1: 2.5rem;
	--font-size-mobile-text-preset-1: 2.25rem;
	/* spacings */
	--spacing-100: 0.5rem;
	--spacing-150: 0.75rem;
	--spacing-200: 1rem;
	--spacing-300: 1.5rem;
	--spacing-400: 2rem;
	--spacing-500: 2.5rem;
	--spacing-600: 3rem;
	--spacing-1600: 8rem;
}


/* general reset */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* 2. Remove default margin */
* {
	margin: 0;
    padding: 0;
}
body {
	/* 3. Add accessible line-height */
	line-height: 1.5;
	/* 4. Improve text rendering */
	-webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
	font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

li{
	padding-inline-start:var(--spacing-200);
	margin-inline-start: 1.125rem;
}

li::marker {
    font-weight: 700;
	color: var(--color-brown-800);
	font-size: var(--spacing-200);

}


/* styles */
body {
	background: var(--color-stone-100);
	display: grid;
	font-family: "Outfit", sans-serif;
}

main {
	padding-inline: var(--spacing-600);
	justify-self: center;
}

strong {
	font-weight: 700;
}

ul,
ol {
	display: grid;
	gap: var(--spacing-100);
}

.recipe__card {
	width: 100%;
	max-width: 46rem;
	margin-block: var(--spacing-1600);
	background: var(--color-white);
	color: var(--color-stone-600);
	border-radius: var(--spacing-300);
}

.recipe__img {
	padding-inline: var(--spacing-500);
	padding-block-start: var(--spacing-500);
}

img {
	max-width: 100%;
	border-radius: var(--spacing-150);
}

.content {
	display: grid;
	gap: var(--spacing-400);
	padding: var(--spacing-500);
}

h1,
h2 {
	font-family: "Young Serif", serif;
}

h3 {
	margin-block-end: var(--spacing-200);
	font-size: var(--font-size-desktop-text-preset-3);
	font-weight: 600;
	color: var(--color-rose-800);
}

h1 {
	line-height: 1;
	color: var(--color-stone-900);
	margin-block-end: var(--spacing-400);
	font-size: var(--font-size-desktop-text-preset-1);
	font-weight: 400;
}

.recipe__time {
	background-color: var(--color-rose-50);
	padding: var(--spacing-300);
	border-radius: var(--spacing-150);
}

.recipe__time li::marker {
	background-color: var(--color-rose-800);
}

h2 {
	color: var(--color-brown-800);
	margin-block-end: var(--spacing-300);
	font-size: var(--font-size-desktop-text-preset-2);
	font-weight: 400;
}

.recipe__instructions,
.recipe__nutrition {
	border-top: solid 1px var(--color-stone-150);
	padding-block-start: var(--spacing-400);
}

.recipe__nutrition > p {
	margin-block-end: var(--spacing-300);
}

/* Table Styles */
.recipe__nutrition__table {
	width: 100%;
	border-collapse: collapse;
}

.recipe__nutrition__table tr{
	border-bottom: 1px solid var(--color-stone-150);
}

.recipe__nutrition__table tr:last-child{
	border:0;
}

.recipe__nutrition__table tr:not(:first-child):not(:last-child) td {
    padding-block: var(--spacing-150);
}

.recipe__nutrition__table tr:first-child td {
    padding-block-end: var(--spacing-150);
}

.recipe__nutrition__table tr:last-child td {
    padding-block-start: var(--spacing-150);
}

.recipe__nutrition__table td {
	width: 50%;
	padding-inline: var(--spacing-300);
	text-align: left;

}

.recipe__nutrition__table td:last-child {
	color: var(--color-brown-800);
	font-weight: 700;
	padding-inline-start: var(--spacing-100);
}

/* Media queries */

@media screen and (max-width: 375px) {
	main {
		padding-inline: 0px;
	}
	h1 {
		font-size: var(--font-size-mobile-text-preset-1);
	}
	.recipe__card {
		margin-block: 0px;
	}
	.content {
		padding: var(--spacing-400);
	}
	.recipe__img {
		padding: 0px;
	}
	img {
		border-radius: 0px;
	}
}
